/* Start Landing */
#landing {
    height: 90vh;
    width: 100%;
    padding: 80px 80px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}

#landing h4 {
    padding-bottom: 15px;
}

#landing h1 {
    color: var(--main-color);
}

#landing a.normal {
    background-color: transparent;
    padding: 14px 80px 14px 65px;
    color: var(--main-color);
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    border: 1px solid #999;
    border-radius: 30px;
    transition: var(--main-transition) ease;
}

#landing .normal:hover {
    color: #fff;
    background-color: var(--main-color);
}

#landing .image img {
    width: 700px;
    height: 100%;
    animation: up-to-down 5s linear infinite;
}

@keyframes up-to-down {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(100px);
    }

    75% {
        transform: translateY(-100px);
    }
}

#landing .go-down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
    border: 0;
}

#landing .go-down:hover {
    color: var(--main-color);
}

#landing .go-down i {
    animation: bouncing 1.5s infinite;
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
    }
}

/* End Landing */
/* Start Categories Section */
#categories {
    text-align: center;
}
#categories .image-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#categories .imageBox {
    width: 300px;
    height: 300px;
    background-color: #000;
    border-radius: 10px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: relative;
    margin: 20px;
}

#categories .imageBox img {
    width: 100%;
    transition: var(--main-transition);
}

#categories .imageBox .textBox {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    box-sizing: border-box;
    padding: 15px 10px;
    font-size: 14px;
    transition: var(--main-transition);
}
#categories .imageBox .textBox h4 {
    margin-bottom: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
#categories .imageBox .textBox p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 15px;
    line-height: 1.6;
}

#categories .imageBox:hover .textBox {
    bottom: -55%;
}

#categories .imageBox:hover img {
    transform: translateY(-45%);
}

/* End Categories Section */
/* Start Products */
#product1 {
    text-align: center;
}

#product1 .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    border: 1px solid #cce7d0;
    padding: 10px 12px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    cursor: pointer;
    border-radius: 25px;
    margin: 15px 0;
    transition: 0.5s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    color: rgb(243, 181, 25);
    font-size: 12px;
}

#product1 .pro .des h4 {
    padding-top: 7px;
    color: var(--main-color);
    font-size: 16px;
    font-weight: 700;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    color: var(--main-color);
    background-color: #e8f6ea;
    line-height: 40px;
    font-weight: 500;
    border-radius: 50%;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
    z-index: -1;
}

#product1 .pro .cart:hover {
    color: white;
    background-color: var(--main-color);
    transition: var(--main-transition) ease;
}

#product1 .pro:hover .cart {
    z-index: 1000;
}

.pro::before {
    content: "";
    position: absolute;
    left: 0px;
    top: -40px;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.3);
}

.pro {
    overflow: hidden;
    position: relative;
}

.pro img {
    width: 100%;
    transition: all 0.5s;
}

.pro:hover img {
    transform: scale(1.3, 1.6);
}

.pro:hover {
    background-color: var(--secondary-color);
}

.pro:hover h4 {
    transform: translateY(10px);
    text-align: center;
}

/* End Products */
/* Start About Section */
#about {
    text-align: center;
}

#about .box-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

#about .single-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
    margin: 20px;
    padding: 20px;
    padding-left: 20px;
    transition: var(--main-transition);
    box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.5);
}

#about .img-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 6px solid #ddd;
    border-radius: 50%;
    margin-bottom: 10px;
    padding: 20px;
    background-size: cover;
    background-position: center center;
}

#about .single-box:nth-child(1) .img-area {
    background-image: url(../Images/About/a1.png);
}

#about .single-box:nth-child(2) .img-area {
    background-image: url(../Images/About/a1.png);
}

#about .single-box:nth-child(3) .img-area {
    background-image: url(../Images/About/a1.png);
}

#about .header-text {
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
}

#about .img-text {
    font-family: poppins;
    padding-top: 20px;
}

#about .line {
    width: 45px;
    height: 2px;
    margin: auto;
    background-color: #222;
    margin-top: 5px;
}

#about .img-text h3 {
    margin: 10px 0;
}

#about .img-text p {
    font-size: 15px;
    font-weight: 400;
    line-height: 38px;
}

#about .single-box:hover {
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
}

#about .single-box:hover .line {
    background-color: #fff;
    color: #fff;
}

/* End About Section */